@import 'photoswipe/style.css';
@import 'photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css';
@import '../../../lib/masonry/style.css';

.video-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0;
}
