@import 'highlight.js/styles/github.css';
@import 'style.css';
@import 'top-bar.css';

/*
html {
  cursor: url("./static/pointer.png"), auto;
}
*/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
a, button, input {
    cursor: url("./static/hand.png"), auto !important
}
*/

main {
  flex-grow: 1;
}

.header {
  text-align: center;
  padding-bottom: 1em;
}

.header .avatar {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 50%;
  padding: 4px;
}

.header .title {
  margin: 0;
  /* border-bottom: 1px solid rgba(0,0,0,.1); */
  /* margin-bottom: .25em; */
  /* padding-bottom: .25em; */
}

.header .subtitle {
  color: #888;
  font-size: .8em;
}

.top-bar {
  margin-bottom: 0;
  margin-top: 0;
}

nav.top-bar {
  position: sticky;
  top: -1px;
}

footer.top-bar {
  position: sticky;
  bottom: 1px;
}

@media screen and (max-width: 85em) {
  nav.top-bar, footer.top-bar {
    position: inherit;
    top: inherit;
    bottom: inherit;
  }
}

@media screen and (max-width: 42em) {

  span.external {
    display: none;
  }
}


@media print {
  nav.top-bar, footer.top-bar {
    position: inherit;
    top: inherit;
    bottom: inherit;
  }

  html {
    background: white;
    font-size: 85%;
  }

  body {
    border: 0;
  }

  main {
    max-width: none;
  }

  .hide-print {
    display: none;
  }
}
