@import 'highlight.js/styles/github-dark-dimmed.css';
@import 'mine.css/dist/mine.css';
@import 'mine.css/dist/layout.css';
@import 'top-bar.css';
@import 'fragmentions/fragmention.css';

/* Document level */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--system-round);
}

main {
  flex-grow: 1;
}

/* List styles */
ul {
  list-style-type: circle;
}

/* JSON Feed Icon */

.rounded-icon {
  border-radius: 3px;
}

.top-bar-link {
  color: var(--accent-foreground);
  font-weight: unset;
}

/* Sticky header footer top-bar */
.top-bar {
  margin-bottom: 0;
  margin-top: 0;
}

nav.top-bar {
  position: sticky;
  top: 0px;
}

footer.top-bar {
  position: sticky;
  bottom: 0px;
}

footer > .top-bar-link:first-child {
  margin-left: unset;
}

@media screen and (max-width: 72em) {
  footer.top-bar {
    position: inherit;
    top: inherit;
    bottom: inherit;
  }
}

@media screen and (max-width: 78em) {
  nav.top-bar {
    backdrop-filter: contrast(100%) blur(10px);
    z-index: 1; /* float over interactive content below */
    background-color: hsla(360, 100%, 100%, 0.75);
    transition: box-shadow 0.1s ease-in-out;

    &:hover {
      box-shadow: 0px 2px 10px 0px rgba(0,0,0, 0.2);
      transition: box-shadow 0.1s ease-in-out;
    }
  }

  .dark-mode:not(.light-mode) {
    & nav.top-bar {
      background-color: hsla(213, 22%, 10%, 0.75);
    }
  }
}

@media print {
  nav.top-bar, footer.top-bar {
    position: inherit;
    top: inherit;
    bottom: inherit;
  }
}

/* Print specifics */
@media print {
  html {
    background: white;
    font-size: 55%;
  }

  :root {
    --light-accent-foreground: var(--text);
  }

  body {
    border: 0;
  }

  .markdown-body {
    max-width: 100%;
  }

  .hide-print {
    display: none;
  }

  h1 small,
  h2 small,
  h3 small,
  h4 small,
  h5 small,
  h6 small {
    color: var(--accent-foreground);
  }
}

:root {
  /* main colors */
  --dark-text: #aec2e0;
  --dark-background: #14191f;

  --dark-accent-background: #242d39;
  --dark-accent-foreground: rgb(154, 154, 154);

  /* misc colors */
  --dark-link-text: #267fb5;
  --dark-code-text: #7d8b9f;
}

.dark-mode:not(.light-mode) {
  & .dark-icon {
    filter: invert(95%);
  }

  & .top-bar-title {
    color: #C7F026;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-click {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(540deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.light-dark-button {
  animation-name: spin-reverse;
  animation-duration: 0.2s;
  touch-action: manipulation;
}

.light-dark-button:hover {
  animation-name: spin;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.light-dark-button:active {
  animation-name: spin-click;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}

