@import 'highlight.js/styles/github.css';
@import 'style.css';
@import 'top-bar.css';

/* Document level */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a:hover {
  /* text-decoration-skip-ink: auto; */
}

/* List styles */
ul {
  list-style-type: circle;
}

figcaption {
  font-size: 0.8em;
}

ul .lang {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.lang::before {
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  content: "•";
  color: #888;
  transform: scale(1.5, 1.5);
}
li.js::before {
  color: #f1e05a;
}

li.html::before {
  color: #e34c26;
}

li.go::before {
  color: #375eab;
}

li.python::before {
  color: #3572A5;
}

li.css::before {
  color: #563d7c;
}

li.sh::before {
  color: #89e051;
}

li.objc::before {
  color: #6866fb;
}

/* Random Text Modifiers */
.subdue {
  color: #777;
}

/* JSON Feed Icon */

.rounded-icon {
  border-radius: 3px;
}

/* Markdown Body layout */
.markdown-body {
  max-width: 50em;
  margin: 2em auto;
  padding: 0 1em;
  overflow: hidden;
  word-wrap: break-word;
  flex-grow: 1;
}
.markdown-body > *:first-child { margin-top: 0 !important; }
.markdown-body > *:last-child { margin-bottom: 0 !important; }

.markdown-body h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

.markdown-body h2 {
  font-size: 1.85em;
}

/* Porfolio Header */
.header {
  text-align: center;
  padding-bottom: 1em;
}

.header .avatar {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 50%;
  padding: 4px;
}

.header .title {
  margin: 0;
  font-size: 3em;
  /* border-bottom: 1px solid rgba(0,0,0,.1); */
  /* margin-bottom: .25em; */
  /* padding-bottom: .25em; */
}

.header .subtitle {
  color: #888;
  font-size: .8em;
  font-weight: 100;
}

/* Sticky header footer top-bar */
.top-bar {
  margin-bottom: 0;
  margin-top: 0;
}

nav.top-bar {
  position: sticky;
  top: -1px;
}

footer.top-bar {
  position: sticky;
  bottom: 1px;
}

footer > .top-bar-link:first-child {
  margin-left: unset;
}

figure.no-border img {
  background: inherit;
  border: none;
  padding: unset;
}

@media screen and (max-width: 85em) {
  nav.top-bar, footer.top-bar {
    position: inherit;
    top: inherit;
    bottom: inherit;
  }
}

@media print {
  nav.top-bar, footer.top-bar {
    position: inherit;
    top: inherit;
    bottom: inherit;
  }
}

/* Portfolio grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
}

@media screen and (max-width: 45em) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* Print specifics */
@media print {
  html {
    background: white;
    font-size: 55%;
  }

  body {
    border: 0;
  }

  .markdown-body {
    max-width: 100%;
  }

  .hide-print {
    display: none;
  }

  .grid-container > div {
    page-break-inside: avoid;
  }

  .subdue {
    color: #222;
  }

  h1 small, h2 small, h3 small, h4 small,h5 small,h6 small {
    color: #222;
  }

  .avatar {
    height: 5em;
    width: 5em;
  }
}
