@import 'highlight.js/styles/dracula.css';
@import 'mine.css';
@import 'mine.css/dist/layout.css';
@import 'top-bar.css';

/* Document level */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* List styles */
ul {
  list-style-type: circle;
}

.portfolio figcaption {
  font-size: 0.8em;
  font-weight: unset;
  color: var(--accent-foreground);
}

ul .lang {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.lang::before {
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  content: "•";
  color: #888;
  transform: scale(1.5, 1.5);
}
li.js::before {
  color: #f1e05a;
}

li.html::before {
  color: #e34c26;
}

li.go::before {
  color: #00ADD8;
}

li.python::before {
  color: #3572A5;
}

li.css::before {
  color: #563d7c;
}

li.sh::before {
  color: #89e051;
}

li.objc::before {
  color: #6866fb;
}

li.docker::before {
  color: #384d54;
}

li.twitter::before {
  color: rgb(76, 159, 235);
}

/* Random Text Modifiers */
.subdue {
  color: var(--accent-foreground);
}

/* JSON Feed Icon */

.rounded-icon {
  border-radius: 3px;
}

/* Porfolio Header */
.header {
  text-align: center;
  padding-bottom: 1em;
}

.header .avatar {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 50%;
  padding: 4px;
}

.header .title {
  margin: 0;
  font-size: 3em;
  /* border-bottom: 1px solid rgba(0,0,0,.1); */
  /* margin-bottom: .25em; */
  /* padding-bottom: .25em; */
}

.header .subtitle {
  color: var(--accent-foreground);
  font-size: .8em;
}

.top-bar-link {
  color: var(--accent-foreground);
  font-weight: unset;
}

/* Sticky header footer top-bar */
.top-bar {
  margin-bottom: 0;
  margin-top: 0;
}

nav.top-bar {
  position: sticky;
  top: 0px;
}

footer.top-bar {
  position: sticky;
  bottom: 0px;
}

footer > .top-bar-link:first-child {
  margin-left: unset;
}

figure.no-border img {
  background: inherit;
  border: none;
  padding: unset;
}

@media screen and (max-width: 72em) {
  footer.top-bar {
    position: inherit;
    top: inherit;
    bottom: inherit;
  }
}

@media screen and (max-width: 65em) {
  nav.top-bar {
    backdrop-filter: contrast(100%) blur(10px);
    z-index: 1; /* float over interactive content below */
    box-shadow: 0px 2px 10px 0px rgba(0,0,0, 0.2);
    background-color: hsla(360, 100%, 100%, 0.75);
  }

  .dark-mode:not(.light-mode) {
    & nav.top-bar {
      background-color: hsla(213, 22%, 10%, 0.75);
    }
  }
}

@media print {
  nav.top-bar, footer.top-bar {
    position: inherit;
    top: inherit;
    bottom: inherit;
  }
}

/* Portfolio grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
}

@media screen and (max-width: 45em) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* Print specifics */
@media print {
  html {
    background: white;
    font-size: 55%;
  }

  :root {
    --light-accent-foreground: var(--text);
  }

  body {
    border: 0;
  }

  .markdown-body {
    max-width: 100%;
  }

  .hide-print {
    display: none;
  }

  .grid-container > div {
    page-break-inside: avoid;
  }

  .subdue,
  .header .subtitle,
  .portfolio figcaption,
  h1 small,
  h2 small,
  h3 small,
  h4 small,
  h5 small,
  h6 small {
    color: var(--accent-foreground);
  }

  .avatar {
    height: 5em;
    width: 5em;
  }
}

:root {
  /* main colors */
  --dark-text: #aec2e0;
  --dark-background: #14191f;

  --dark-accent-background: #242d39;
  --dark-accent-foreground: rgb(154, 154, 154);

  /* misc colors */
  --dark-link-text: #267fb5;
  --dark-code-text: #7d8b9f;
}

.dark-mode:not(.light-mode) {
  & .dark-icon {
    filter: invert(95%);
  }

  & .top-bar-title {
    color: #C7F026;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-click {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(540deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.light-dark-button {
  animation-name: spin-reverse;
  animation-duration: 0.2s;
  touch-action: manipulation;
}

.light-dark-button:hover {
  animation-name: spin;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.light-dark-button:active {
  animation-name: spin-click;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}

