.site-top-bar {
  padding:0.5rem 1rem;
  margin:0 0 2rem;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-flex;
  justify-content: space-between;
  gap: 5px;
}

.site-top-bar::-webkit-scrollbar {
  display: none;
}

nav.site-top-bar {
  position: sticky;
  top: 0px;
  column-gap: 1.5rem;
}

footer.site-top-bar {
  position: sticky;
  bottom: 0px;
}

footer > .site-top-bar-link:first-child {
  margin-left: unset;
}

footer > .site-top-bar-link:first-child {
  margin-left: unset;
}

.site-top-bar-link,
.site-top-bar-title {
    color:#aaa;
    cursor:pointer;
    float:left;
    font-size:1rem;
    text-decoration:none;
}

.site-top-bar-link.current-page,
.site-top-bar-link.current-page:hover,
.site-top-bar-title.current-page,
.site-top-bar-title.current-page:hover {
    cursor:default;
}

.site-top-bar-link{
    font-weight:200;
    margin-left:1rem;
}

.site-top-bar-link.current-page,
.site-top-bar-link.current-page:hover,
.site-top-bar-link:hover {
    color:#555;
}

.site-top-bar-title{
    color:#555;
    font-weight:600;
}

.site-top-bar-right{
    float:right;
}

.site-top-bar-link {
  color: var(--accent-foreground);
  font-weight: unset;
}

.site-top-bar-right,
.site-top-bar-left {
  flex-shrink: 0;
  white-space: nowrap;
  max-width: 100%;
}

.site-top-bar-social-links {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.site-top-bar-social-links a,
.site-top-bar-social-links img {
  display: block;
}

.site-top-bar-social-links img {
  width: 18px;
  height: 18px;
}

@media screen and (max-width: 120em) {
  .site-top-bar {
    backdrop-filter: contrast(100%) blur(10px);
    z-index: 1; /* float over interactive content below */
    background-color: hsla(360, 100%, 100%, 0.75);
    transition: box-shadow 0.1s ease-in-out;

    &:hover {
      box-shadow: 0px 2px 10px 0px rgba(0,0,0, 0.2);
      transition: box-shadow 0.1s ease-in-out;
    }
  }

}

@media (prefers-color-scheme: dark) {
  .site-top-bar {
    background-color: hsla(213, 22%, 10%, 0.75);
  }

  .dark-icon {
    filter: invert(95%);
  }

  .site-top-bar-title {
    color: #C7F026;
  }
}

@media print {
  .site-top-bar {
    position: inherit;
    top: inherit;
    bottom: inherit;
  }
}

.rounded-icon {
  border-radius: 3px;
}
